<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link href="../Content/bootstrap.css" rel="stylesheet" /> -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />

    <script src="/jquery-1.11.0.min.js"></script>
    <script src="/bootstrap.min.js"></script>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
